.placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--surface-sunken);
  color: var(--border-default);
}

.icon {
  width: 30px;
  height: 30px;
  margin-bottom: 7px;
}
